<h1> 似ているアンドロイドアプリを探しましょう（セカンドプロトタイプ）。</h1>
<h1>
  <%= form_tag('/apps/index') do %>
  <%= text_field_tag :appname %>
  <%= submit_tag "検索" %>
  <% end %>
</h1>

<% case @status %>
<% when 0 %>

<h1> アプリの名前を入力してみてください！ </h1>
<% when 2 %>

<h1> 詳細を取得しました！ </h1>
<br>
<h2> アプリ：<%= @app["title"] %></h2>

<% @app.each do |key, value| %>
<%= key %> : <%= value %> <br>
<% end %>

<br><br>
<% @dis.each do |key, value| %>
<%= key %>
=>
<%= value %>
<br>
<% end %>

<% when 1 %>
<h1> 残念ながら・・・</h1>
<p>
  <%= @errMessage %>
</p>

<% end %>
