<h1> 似ているアンドロイドアプリを探しましょう（プロトタイプ）。</h1>
※「タイトル」による検索は、異なる言語間でうまく動作しません・・・

<%= form_tag('/apps/index') do %>
  <%= text_field_tag(:name, @appname, placeholder: "e.g. angry bird") %>
  <%= submit_tag "検索" %>
  <br><br>
  「似ている」の基準（複数可）
  <br>

  <% @charInfo.each do |key, value| %>
    <% op = Hash.new %>
    <% op["checked"] = true if @checked.include?(key) %>
    <% op["disabled"] = true if @showOnly.include?(key) %>
    <%= check_box(:appchar, key, op) %>
    <%= value %>
  <% end %>
<% end %>
<br>

<!-- free space -->
<!--           -->


<% case @status %>
<% when 0 %>

<h1> アプリの名前を入力してみてください！ </h1>
<% when 2 %>

<h1> 詳細を取得しました！ </h1>
<br>
<h2> アプリ：<%= @app["title"] %></h2>

<!-- <%= javascript_tag do %> -->

<!-- window.similarity = <%= raw @similarity.to_json %> -->
<!-- window.appinfo = <%= raw @app.to_json %> -->

<!--   <%= javascript_include_tag 'ex_jqplot' %> -->
<!-- <% end %> -->


<!-- <div id="chart1" style="height: 300px; width: 300px;"></div> -->

<% baseUrl = "https://play.google.com/store/apps/details?id=%s&hl=ja" %>
<% @similarity.each do |key, value| %>
  <%= link_to(@titleInDB[key], baseUrl % key) %> 
  : 
  <%= "[ "%>
  <% value.each do |v| %>
    <%= "%1.3f" % v %>
    <%= " " %>
  <% end %>
  ]
  <br>
<% end %>

<% when 1 %>
<h1> 残念ながら・・・</h1>
<p>
  <%= @errMessage %>
</p>

<% end %>
