<h1> 似ているアンドロイドアプリを探しましょう（セカンドプロトタイプ）。</h1>

<%= form_tag('/apps/index') do %>
<%= text_field_tag :appname %>
<%= submit_tag "検索" %>
<br><br>
「似ている」の基準（複数可）
<br>
<!-- check_box(オブジェクト名, プロパティ名 [, オプション, checked_value = "1", unchecked_value = "0"]) -->
<% op = Hash.new %>
<% op["disabled"] = true %>
<%= check_box(:chars, :title) %> タイトル
<%= check_box(:chars, :icon) %> アイコン
<%= check_box(:chars, :description, op) %> 説明文
<%= check_box(:chars, :ratecuont, op) %> レビューの数数
<%= check_box(:chars, :rateaverage, op) %> レビューの星の数
<%= check_box(:chars, :simapps, op) %> 類似のアプリ
<% end %>
<br>

<%= @status %>

<% case @status %>
<% when 0 %>

<h1> アプリの名前を入力してみてください！ </h1>
<% when 2 %>

<h1> 詳細を取得しました！ </h1>
<br>
<h2> アプリ：<%= @app["title"] %></h2>

<% @app.each do |key, value| %>
<%= key %> : <%= value %> <br>
<% end %>

<br><br>

<% @similarity.each do |key, value| %>
<%= key %> : <%= value %> <br>
<% end %>

<% when 1 %>
<h1> 残念ながら・・・</h1>
<p>
  <%= @errMessage %>
</p>

<% end %>
