<h1> 似ているアンドロイドアプリを探しましょう（セカンドプロトタイプ）。</h1>

<%= form_tag('/apps/index') do %>
  <%= text_field_tag(:name, @appname, placeholder: "e.g. angry bird") %>
  <%= submit_tag "検索" %>
  <br><br>
  「似ている」の基準（複数可）
  <br>

  <% @charInfo.each do |key, value| %>
    <% op = Hash.new %>
    <% op["checked"] = true if @checked.include?(key) %>
    <% op["disabled"] = true if @showOnly.include?(key) %>
    <%= check_box(:appchar, key, op) %>
    <%= value %>
  <% end %>
<% end %>
<br>

<!-- free space -->
<div id="chart1" style="height: 300px; width: 300px;"></div>
<!--           -->


<% case @status %>
<% when 0 %>

<h1> アプリの名前を入力してみてください！ </h1>
<% when 2 %>

<h1> 詳細を取得しました！ </h1>
<br>
<h2> アプリ：<%= @app["title"] %></h2>

<% @similarity.each do |key, value| %>
  <%= key %> : <%= value %> <br>
<% end %>

<% when 1 %>
<h1> 残念ながら・・・</h1>
<p>
  <%= @errMessage %>
</p>

<% end %>
