<%#= javascript_include_tag "application" %>
<%#= stylesheet_link_tag "application" %>

<%= content_for(:heading) do %>
   似ているアンドロイドアプリを探しましょう。<br>
   「このアプリと」似ているアイコンのアプリが知りたいけど検索できない・・・<br>
   「このアプリと」同じような機能のアプリが欲しいけど有名なやつしか検索できない・・・<br>
   そんなニッチなニーズを満たすべく、このページはアプリでアプリを検索します。<br><br>
   <span style="font-size:70%;">
   ちなみに、現在似ているアプリは検索できません。正確には、検索できるけれど似ていません。特徴量の追加と精度向上、類似度計算の追加はしばしお待ちあれ！
   </span>

<% end %>

<%= content_for(:howto) do %>
  始めに、「これと似ているアプリが欲しい！」のこれの名前をテキストボックスに入力してください。<br>
  次に、その下のボタンで、「似ている」の基準を選択してください。複数選択可能です。<br>
  最後に、検索ボタンは押さないでください。検索結果は全然似ていません。<br>
  <br>
  表示されたグラフでは、「似ている」アプリほど大きな円で描かれます。<br>
  ごちゃごちゃしている箇所は、ドラッグアンドドロップでズームしてみましょう。元に戻るにはダブルクリックです。<br>
  円をクリックすると、対応したアプリのGooglePlayページへリンクへ遷移します。帰ってきてくださいね。<br>
  <br>
   <span style="font-size:70%;">
     入力部分は内部的にぐぐらせていただいてるので、その体で入力してもヒットします。<br>
     「タイトル」による検索は、異なる言語間でうまく動作しません・・・<br>
     たまにグラフがでてきません。もう一度検索ボタンを押してみてください。<br>
</span>
<% end %>

<%= content_for(:content) do %>

  <div class="container-fluid">

    <div class="row content">   <!– グリッドを使用 –>
      <div class="col-md-3 form">
        <%= render "form" %>
      </div>
      <div class="col-md-9 graph">
        <div id="msg">
          アプリの名前を入力してみてください！
        </div>
        <div id="chart" align="center"></div>     
      </div>
    </div>
  </div>

  <%#= render "nowloading" %>

<% end %>

<%= content_for(:data) do %>
  
  <div id="appdata">hoge</div>
<% end %>


