<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Applanet" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="panel-group" id="overall" role="tablist">

      <!-- ******** overall-heading ******** -->
      <div class="panel panel-default">
        <div class="panel-heading" id="overall-heading1" role="tab">
          <span class="panel-title">
            <a data-toggle="collapse" aria-controls="overall-body1"
               data-parent="#overall" href="#overall-body1">
              <i class="fa fa-angle-double-down"></i>
              Applanet
            </a>

          </span>
        </div>

        <div class="panel-collapse collapse in" id="overall-body1"
             aria-labelledby="overall-heading1" role="tabpanel">
          <div class="panel-body">
            <%= yield(:heading) %>
          </div>
        </div>
      </div> 
      <!-- ******** overall-heading ******** -->

      <!-- ******** overall-howto ******** -->
      <div class="panel panel-default">
        <div class="panel-heading" id="overall-heading2" role="tab">
          <span class="panel-title">
            <a class="collapsed" data-toggle="collapse" 
               aria-controls="overall-body2"
               data-parent="#overall" href="#overall-body2">
              <i class="fa fa-angle-double-down"></i>
              How To
            </a>
          </span>
        </div>

        <div class="panel-collapse collapse" id="overall-body2"
             aria-labelledby="overall-howto2" role="tabpanel">
          <div class="panel-body">
            <%= yield(:howto) %>
          </div>
        </div>
      </div> 
      <!-- ******** overall-howto ******** -->

      <!-- ******** overall-content ******** -->
      <div class="panel panel-default">
        <div class="panel-heading" id="overall-heading3" role="tab">
          <span class="panel-title">
            <a class="collapsed" data-toggle="collapse" 
               aria-controls="overall-body3"
               data-parent="#overall" href="#overall-body3">
              <i class="fa fa-angle-double-down"></i>
              Content
            </a>
          </span>
        </div>

        <div class="panel-collapse collapse in" id="overall-body3"
             aria-labelledby="overall-content3" role="tabpanel">
          <div class="panel-body">
            <%= yield(:content) %>
          </div>
        </div>
      </div> 
      <!-- ******** overall-content ******** -->

      <!-- ******** overall-data ******** -->
      <div class="panel panel-default">
        <div class="panel-heading" id="overall-heading4" role="tab">
          <span class="panel-title">
            <a class="collapsed" data-toggle="collapse" 
               aria-controls="overall-body4"
               href="#overall-body4">
              <i class="fa fa-angle-double-down" aria-hidden="true"></i>
              Data
            </a>
          </span>
        </div>

        <div class="panel-collapse collapse" id="overall-body4"
             aria-labelledby="overall-data4" role="tabpanel">
          <div class="panel-body">
            <%= yield(:data) %>
          </div>
        </div>
      </div> 
      <!-- ******** overall-data ******** -->
      


    
    </div> <!-- overall -->
    
  </body>
</html>
